---
import Maxwidth from "../layouts/Maxwidth.astro";
import Tiktok from "./icons/Tiktok.astro";
import Instagram from "./icons/Instagram.astro";
---

<nav class="nav">
  <Maxwidth>
    <div class="nav__logo">
      <img src="/media/logo.svg" alt="grimorio escarlata" class="nav__img"/>
    </div>

    <div class="nav__social">
      <a href="https://www.tiktok.com/@grimoriodelinfierno?_t=ZS-8yc8dsFKlKj&_r=1" target="_blank" class="nav__icono">
        <Tiktok />
      </a>
      <a href="https://www.instagram.com/grimorio_del_infierno?igsh=ZHNydHRyOGFtOW1l" target="_blank" class="nav__icono">
        <Instagram />
      </a>
    </div>
    <!-- <div class="nav__menu">
      <span class="nav__linea"></span>
      <span class="nav__linea"></span>
      <span class="nav__linea"></span>
    </div>  -->
  </Maxwidth>
</nav>


<style>
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;
  }
  
  .max {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__img {
    width: 80px;
    cursor: pointer;
  }

  .nav__menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }

  .nav__linea {
    width: 60%;
    height: 2px;
    background-color: #fff;
  }
  

  .nav__social {
    display: flex;
    gap: 10px;
  }

  .nav__icono {
    text-decoration: none;
    color: #fff;
  }
</style>